body {
  font-size: 15px;
  font-family: Poppins;
  color: hsl(234, 12%, 34%);
  box-sizing: border-box;
<<<<<<< HEAD
  background-color: #fafafa;
=======
  background-color: #4c4e61;
>>>>>>> b322ca7c23ee63e7d63c923596919b19608d832b
}
.body-padding {
  padding: 10px;
  margin: 90px 0px;
}

.topp {
  font-size: 2rem;
}
#head1 {
  font-weight: 300;
  margin: 0px;
}
#head2 {
  font-weight: 1000;
  margin: 0px;
}
#moto {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}
.heady {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  padding: 25px;
  margin: 20px;
  box-shadow: 0px 12px 20px 0px rgb(194, 191, 191);
  border-radius: 5px;
}
.card-img {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.card-text {
  color: hsl(229, 6%, 66%);
}

.border-cyan {
  border-top: 3px solid #45d3d3;
}

.border-red {
  border-top: 3px solid #ea5353;
}

.border-blue {
  border-top: 3px solid #549ef2;
}

.border-orange {
  border-top: 3px solid #fcaf4a;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media (max-width: 500px) {
  [class*="topp"] {
    font-size: 1.2rem;
  }
  #moto {
    font-size: 1rem;
  }
}
